[package]
name = "updater"
version = "0.1.0"
edition = "2021"

[dependencies]
gettext-rs = { version = "0.7", features = ["gettext-system"] }
glib = "0.20"
gtk = { version = "0.9", package = "gtk4", features = ["gnome_47"] }

