[Desktop Entry]
Name=K-Arch Updater
Comment=System maintenance and package updates
Exec=karch-updater
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=update;upgrade;pacman;karch;